<%= render "shared/error_messages", :target => @task_type %>

<div class="controls">
<%= link_to t("helpers.link.list"), task_types_path %>
</div>
<div class="clear"></div>
<%= render 'form' %>

<div class="controls">
<%= link_to t("helpers.link.list"), task_types_path %>
</div>