<% if target.errors.any? %>
  <!--  start message-red -->
  <div class="clear"></div>
  <div id="message-red">
    <table border="0" width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td class="red-left"> <%= target.errors.full_messages %> </td>
        <td class="red-right">
          <a class="close-red"><img src="/stylesheets/skin1/images/table/icon_close_red.gif" alt=""/></a></td>
      </tr>
    </table>
  </div>
<% end %>