<div class="gray_form">
  <%= simple_form_for(@action_state) do |f| %>

      <div class="inputs">
        <%= f.input :i18n_name %>
      </div>

      <div class="actions">
        <%= f.button :submit %>
      </div>
  <% end %>
</div>


