<%= render "shared/error_messages", :target => @problem_severity %>

<%= render 'shared/controls_edit', :locals => {:target => @problem_severity, :model_path => problem_severities_path} %>

<div class="clear"></div>

<%= render 'form' %>

<%= render 'shared/controls_edit', :locals => {:target => @problem_severity, :model_path => problem_severities_path} %>