#facebox .content {
    overflow-y: scroll;
}



.add_nested_row_form{
    float: left;
    color: #92b22c;
    font-size: 12px;
    font-weight: normal;
    border: 1px solid #92b22c;
    margin-top: 10px;
    margin-right: 15px;
    padding: 3px;
    min-width: 100px;
    text-align: center;
}
.remove_nested_row_form{
    color: #92b22c;
    font-size: 11px;
    font-weight: normal;
    border: 1px solid #92b22c;
    line-height:8px;
    margin: 0px;
    padding: 2px;
    min-width: 100px;
    text-align: center;
}

.simple_form div.inputs {
    clear:both;
    border: 0px solid #000000;
    width:1005px;
    margin-left:auto;
    margin-right:auto;
}

.simple_form label {
    color: black;
    font-size: 12px;
    float: left;
    width: 150px;
    text-align: right;
    margin: 0px 10px;
}

.simple_form .multilist label {
    text-align: left;
    margin: 0 0 0 3px;
}

.simple_form span.hint {
    display: block;
    margin-top: 0px;
    margin-left: 170px;
    font-size: 11px;
    font-style: italic;
    color: #888888;
}

.simple_form span.error {
    margin-left: 5px;
    font-style: italic;
}

.simple_form div.input {
    border: 0px solid #000000;
    width: 500px;
    min-height: 38px; /* si es mas bajo no cabe el hint*/
    margin-bottom: 3px;
    float: left;
}

.simple_form div.actions {
    clear: both;
    /*
    padding: 10px;
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    background-color:#ffffff;
    width:68%;
    */
    margin-bottom:15px;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    width:90%;

}

.simple_form div.input input[type='text'] {
    /*width: 175px;*/
}

.simple_form from_to.input input[type='text'] {
    /*max-width: 90px;*/
}


.simple_form div.input select {
    min-width: 175px;
    max-width: 175px;
}

.simple_form input[type='submit'] {
    /*float: right;
    margin-left: 170px;*/
}


.simple_form div.one_col_form {
    width: 500px;
}

.simple_form div.from_to {
    width: 500px;
    float: left;
}

.simple_form .from_to div.input {
    width: 115px;
}

.simple_form .from_to span.hint {
    margin-left: 0px;
    font-size: 11px;
    font-style: italic;
    color: #888888;
}

.gray_form {
    border: 1px solid #d6d6d6;
    background: #f0f0f0;
    padding: 20px 10px 10px 10px;
    margin: 10px 0 10px 0;
}


div.float_field {
    float: left;
    margin: 0 10px 15px 0;
}

div.float_field label {
    color: #333;
}

.filter div {
}

.filter p {
    cursor: pointer;
}

.filter_content {
    display: none;
}

.filter_active {
    background-color: #cc2222 !important;
    color: #cc2222 !important;
}

.toggle_container {
    margin: 0 0 5px 0;
    padding: 0;
    border: 1px solid #d6d6d6;
    background: #f0f0f0;
    overflow: hidden;
    font-size: 1.2em; /*width: 500px;*/
    clear: both;
    display: none;
}

.toggle_container div.block {
    clear:both;
    padding: 15px 15px 0 15px;
    border: 0px solid #000000;
    width:1005px;
    margin-left:auto;
    margin-right:auto;

/*--Padding of Container--*/
/*background: url(../images/toggle_block_btm.gif) no-repeat left bottom;*/
/*--Bottom rounded corners--*/
}

.toggle_container div.block_in_show {
    clear:both;
    padding: 15px 15px 0 15px;
    border: 0px solid #000000;
    width:90%;
    margin-left:auto;
    margin-right:auto;

/*--Padding of Container--*/
/*background: url(../images/toggle_block_btm.gif) no-repeat left bottom;*/
/*--Bottom rounded corners--*/
}


.show_table {
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0px solid #d2d2d2;
    background-color: #f3f3f3;

}

.td_label {
    padding-top: 7px;
    padding-right: 3px;
    padding-bottom: 7pt;
    padding-left: 5px;
    text-align: right;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #d2d2d2;
}

.td_data {
    margin: 10px;
    padding-top: 7px;
    padding-right: 5px;
    padding-bottom: 7pt;
    padding-left: 5px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #d2d2d2;
}

.show_table .alternate-row {
    background-color: #ececec;
}


div.controls {
    float: left;
    margin: 0px;
}

div.controls a {
    float: left;
    color: #92b22c;
    font-size: 12px;
    font-weight: normal;
    border: 1px solid #92b22c;
    margin-right: 15px;
    padding: 3px;
    min-width: 100px;
    text-align: center;
}

div.controls a:hover {
    color: #000033;
    border-color: #000033;
}

div.user_box {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

div.user_box h5 {
    margin: 0px 0 0 10px;
    padding: 0px;
}

div.user_box a {
    float: left;
    color: #92b22c;
    font-size: 12px;
    font-weight: normal;
    border: 1px solid #92b22c;
    margin: 6px 0 0 10px;
    padding: 3px;
    text-align: center;
}

div.user_box a:hover {
    color: #ffffff;
    border-color: #ffffff;
}

#nested_form_table {
    width: 100%;
}

#nested_form_table input {
    margin: 5px;
    padding: 2px;
}

.max-1170 {
    max-width: 1170px;
    overflow: auto;
}

.display-none {
    display: none;
}

.styledselect-gantt {
    background: #E6EFC2;
    border: 1px solid #C6D880;
    color: #000000;
    padding: 4px;
    line-height: 14px;
    margin-right: 10px;
    margin-top: 1px;
    font-size: 14px;
}
.styledselect-gantt:hover{
    background: #C6D880;
    border: 1px solid #C6D880;
    color: #000000;
    padding: 4px;
    line-height: 14px;
    margin-right: 10px;
    margin-top: 1px;
    font-size: 14px;
}
/* PAGINATION  PAGINATION  PAGINATION  PAGINATION  PAGINATION  PAGINATION  PAGINATION  PAGINATION  PAGINATION  */

.pagination {
    background: white;
    cursor: default;
    float: right;
    margin: 0 0 10px 0; /* self-clearing method: */
}

.pagination a, .pagination span, .pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px;
}

.pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd;
}

.pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #92b22c;
    color: white;
    border: 1px solid #92b22c;
}

.pagination a {
    text-decoration: none;
    color: #92b22c;
    border: 1px solid #92b22c;
}

.pagination a:hover, .pagination a:focus {
    color: #000033;
    border-color: #000033;
}

.pagination .page_info {
    background: #92b22c;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center;
}

.pagination .page_info b {
    color: #000033;
    background: #6aa6ed;
    padding: 0.1em 0.25em;
}

.pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

* html .pagination {
    height: 1%;
}

*:first-child + html .pagination {
    overflow: hidden;
}

.page_select_pagination {
    float: right;
    margin: 0 10px 10px 0px;
}

.page_select_pagination .styledselect {
    background: #92b22c;
    border: 1px solid #777777;
    color: #fff;
    width: 60px;
    padding: 1px;
    line-height: 14px;
    margin-right: 10px;
    margin-top: 1px;
    font-size: 12px;
}

.page_label_pagination {
    float: right;
    margin: 5px 2px 0px 0px;
}


/* BUTTONS */
div.buttons {
    margin-bottom:15px;
    display: block;
}
.buttons a{
    margin:0 7px 0 0;
    background-color:#E6EFC2; /* matias custom background-color:#f5f5f5; */
    border:1px solid #C6D880;
    /*
    border-top:1px solid #eee;
    border-left:1px solid #eee;
    */
    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:14px; /* matias custom font-size:100%;*/
    line-height:130%;
    text-decoration:none;
    /*font-weight:bold;*/
    color:#000000 !important;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */ /* matias custom padding:5px 10px 6px 7px; /* Links */
}

.buttons button{
    margin:0 7px 0 0;
    background-color:#f5f5f5; /* matias custom background-color:#f5f5f5; */
    border:1px solid #787878;
    /*
    border-top:1px solid #eee;
    border-left:1px solid #eee;
    */
    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:14px; /* matias custom font-size:100%;*/
    line-height:130%;
    text-decoration:none;
    /*font-weight:bold;*/
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
}
.buttons button{
    width:auto;
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
}
.buttons button[type]{
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:20px; /* Safari */
}
*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}
.buttons button img, .buttons a img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:17px;
    height:17px;
}

/* STANDARD */
.buttons a:hover{
    background-color:#C6D880;
    border:1px solid #C6D880;
    color:#000000;
    text-decoration:none !important;
}
button:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
.buttons a:active{
    background-color:#aaaaaa;
    border:1px solid #aaaaaa;
    color:#fff;
}/* POSITIVE */
button.positive, .buttons a.positive{
    color:#000000; /* matias custom color:#529214; */
    background-color:#E6EFC2;
    border:1px solid #C6D880;
}
.buttons a.positive:hover, button.positive:hover{
    background-color:#C6D880;
    border:1px solid #C6D880;
    color:#000000;
}
.buttons a.positive:active{
    background-color:#529214;
    border:1px solid #529214;
    color:#fff;
}

/* NEGATIVE */
.buttons a.warning, button.warning{
    color:#000000; /* matias custom color:#d12f19; */
    background-color:#f7ffaa;
    border:1px solid #f7dd55;
}
.buttons a.warning:hover, button.warning:hover{
    background-color:#f7dd55;
    border:1px solid #f7dd55;
    color:#000000; /*matias custom color:#d12f19;*/
}
.buttons a.negative, button.negative{
    color:#000000; /* matias custom color:#d12f19; */
    background-color:#fbe3e4;
    border:1px solid #fbc2c4;
}
.buttons a.negative:hover, button.negative:hover{
    background-color:#fbc2c4;
    border:1px solid #fbc2c4;
    color:#000000; /*matias custom color:#d12f19;*/
}
.buttons a.negative:active{
    background-color:#d12f19;
    border:1px solid #d12f19;
    color:#fff;
}


table.availability-table{
    width:100%;
    border:solid 1px;
    margin-top:5px;
}
.availability-table th{
    background-color:#595D5C;
    color:white;
}
.availability-table th, .availability-table td{
    border:solid 1px;
    text-align:center;
    height:20px;
}
.availability-table .user_col {
    width:200px;
    text-align:left;
    padding-left:10px;
}

.availability-table th.day_col {
    width:20px;
}


.availability-table td.green {
    background-color:#99FF66; /* #C6D880 */
}
.availability-table td.yellow {
    background-color:#FFFF66;
}
.availability-table td.red {
    background-color:#FF6600;
}
.availability-table td.gray {
    background-color:#DDDDDD;
}



/* GRAFICS BUTTONS*/
/*
.plus_chart{
    width:15px;
}
.one_to_one_chart{
    width:15px;
}
.minus_chart{
    width:15px;
}
*/