<%
   model_i18n_name = t("activerecord.models." + model_class.to_s)
   if !(defined?(cancel_goto)).nil?
     redirect_cancel = cancel_goto #solo en aquellos casos que el cancelar no lleva al index sino a una url especifica (ejemplo: cuando se crea un risk desde un project dashboard)
   else
     redirect_cancel = eval(model_class.to_s.underscore.pluralize + "_path")  # url al index del model
   end
%>

<div class="actions">
  <div class="buttons">
    <button type="submit" class="positive">
      <img src="/images/glyphicons/glyphicons_206_ok_2.png" alt=""/>
      <%= t("helpers.submit.create", :model => model_i18n_name) if creating? || action_name == "ajax_display_phases_form" %>
      <%= t("helpers.submit.update", :model => model_i18n_name) if updating? %>
    </button>
    <button type="button" onclick="javascript:window.location.href = '<%= redirect_cancel %>';" class="warning" name="cancel" value="true">
      <img src="/images/glyphicons/glyphicons_221_unshare.png" alt=""/>
      <%= t('helpers.submit.cancel') %>
    </button>
  </div>
</div>
