<div class="actions">
  <div class="buttons">
    <button type="submit" class="positive">
      <img src="/images/glyphicons/glyphicons_320_filter.png" alt="" />
      <%= t("helpers.submit.search") %>
    </button>
    <button type="submit" class="warning" name="search_clear" value="true">
      <img src="/images/glyphicons/glyphicons_067_cleaning.png" alt="" />
      <%= t('helpers.reset.clear_search') %>
    </button>
  </div>
</div>
