<%= render "shared/error_messages", :target => @action_source_type %>

<div class="controls">
<%= link_to t("helpers.link.list"), action_source_types_path %>
</div>
<div class="clear"></div>
<%= render 'form' %>

<div class="controls">
<%= link_to t("helpers.link.list"), action_source_types_path %>
</div>