<%= render "shared/error_messages", :target => @risk_exposition %>

<div class="controls">
<%= link_to t("helpers.link.list"), risk_expositions_path %>
</div>
<div class="clear"></div>
<%= render 'form' %>

<div class="controls">
<%= link_to t("helpers.link.list"), risk_expositions_path %>
</div>