<%= render "shared/error_messages", :target => @project %>

<%#= render "shared/error_messages_nested", :target => @project %>

<%= render "shared/control_buttons", :locals => { :instance => @project } %>

<div class="clear"></div>

<%= render 'form' %>

