<div class="gray_form">
<%= simple_form_for(@press_type) do |f| %>

  <div class="inputs">
            <%= f.input :name %>
                <%= f.input :description, :input_html => { :rows => 4, :cols => 30 } %>
      </div>

  <%= render "shared/submit_form_model", :model_class => PressType %>

<% end %>
</div>


