<%= render "shared/error_messages", :target => @projects_phases_join %>

<div class="controls">
  <%= link_to t("screens.links.back"), @projects_phases_join.project %>
</div>

<div class="clear"></div>

<%= render 'form' %>

<div class="controls">
  <%= link_to t("screens.links.back"), @projects_phases_join.project %>
</div>