<%= render "shared/error_messages", :target => @projects_phases_join %>

<%= render "shared/controls_new", :locals => {:model_path => projects_phases_joins_path} %>

<div class="clear"></div>

<%= render 'form' %>

<%= render "shared/controls_new", :locals => {:model_path => projects_phases_joins_path} %>