<%= render "shared/error_messages", :target => @action_priority %>

<div class="controls">
<%= link_to t("helpers.link.list"), action_priorities_path %>
</div>
<div class="clear"></div>
<%= render 'form' %>

<div class="controls">
<%= link_to t("helpers.link.list"), action_priorities_path %>
</div>