<div class="gray_form">
  <%= simple_form_for(@product) do |f| %>

      <div class="inputs">
        <%= f.input :code %>
        <%= f.input :name %>
      </div>

      <%= render "shared/submit_form_model", :model_class => Product %>

  <% end %>
</div>


