<div class="gray_form">
<%= simple_form_for(@task_state) do |f| %>

  <div class="inputs">
            <%= f.input :i18n_name %>
                <%= f.input :description, :input_html => { :rows => 4, :cols => 30 } %>
      </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
</div>


