<div class="clear">&nbsp;</div>

<!-- start footer -->
<div id="footer">
	<!--  start footer-left -->
	<div id="footer-left">
	Printland &copy; Copyright Impreform. <span id="spanYear"></span> <a href="http://www.impreform.com.mx">www.impreform.com.mx</a>. All rights reserved.</div>
	<!--  end footer-left -->
	<div class="clear">&nbsp;</div>
</div>
<!-- end footer -->